/WindowsFormsApplication3/bin
WindowsFormsApplication3/bin/Debug/WindowsFormsApplication3.exe
/WindowsFormsApplication3/bin/Debug
/WindowsFormsApplication3/bin/Debug/WindowsFormsApplication3.exe
/WindowsFormsApplication3/bin/Debug/WindowsFormsApplication3.pdb
/WindowsFormsApplication3/bin/Release/WindowsFormsApplication3.exe
/WindowsFormsApplication3/bin/Release/WindowsFormsApplication3.pdb
/WindowsFormsApplication3/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/WindowsFormsApplication3/obj/x86/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/WindowsFormsApplication3/obj/x86/Debug/Calculator.csproj.AssemblyReference.cache
/WindowsFormsApplication3/obj/x86/Debug/Calculator.csproj.CoreCompileInputs.cache
/WindowsFormsApplication3/obj/x86/Debug/Calculator.csproj.FileListAbsolute.txt
/WindowsFormsApplication3/obj/x86/Debug/Calculator.csproj.GenerateResource.Cache
/WindowsFormsApplication3/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsFormsApplication3/obj/x86/Debug/WindowsFormsApplication3.exe
/WindowsFormsApplication3/obj/x86/Debug/WindowsFormsApplication3.pdb
/WindowsFormsApplication3/obj/x86/Release/TempPE/Properties.Resources.Designer.cs.dll
/WindowsFormsApplication3/obj/x86/Release/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
/WindowsFormsApplication3/obj/x86/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/WindowsFormsApplication3/obj/x86/Release/Calculator.csproj.AssemblyReference.cache
/WindowsFormsApplication3/obj/x86/Release/Calculator.csproj.CoreCompileInputs.cache
/WindowsFormsApplication3/obj/x86/Release/Calculator.csproj.FileListAbsolute.txt
/WindowsFormsApplication3/obj/x86/Release/Calculator.csproj.GenerateResource.Cache
/WindowsFormsApplication3/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/WindowsFormsApplication3/obj/x86/Release/WindowsFormsApplication3.exe
/WindowsFormsApplication3/obj/x86/Release/WindowsFormsApplication3.pdb
